@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

table{
	border-collapse: collapse;
	font-variant-numeric: tabular-nums;
	width: 100%;
}

td{
	padding: 0.25em 0;
}

td + td{
	padding-left: 0.5em;
	text-align: right;
}

tfoot td:first-child{
	font-variant: small-caps;
}

tfoot td + td{
	border-bottom: 1px solid;
	border-top: 1px solid;
}

header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

#chapter-3-1 > blockquote,
#chapter-5-2 > blockquote:last-of-type{
	text-align: right;
}

#chapter-3-3 header{
	font-style: italic;
	font-variant: normal;
}
